Description: VPC Cloudformation
AWSTemplateFormatVersion: "2010-09-09"

Resources:
  VPC:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: {{ sceptre_user_data.vpc.cidr_block }}
{%- if sceptre_user_data.vpc.tags is defined %}
      Tags:
{%- for key, value in sceptre_user_data.vpc.tags.items() %}
        - Key: {{ key | trim }}
          Value: {{ value | trim }}
{%- endfor %}
{%- endif %}

{%- if sceptre_user_data.vpc.assign_ipv6 %}
  VPCCidrBlock:
    Type: AWS::EC2::VPCCidrBlock
    Properties:
      AmazonProvidedIpv6CidrBlock: true
      VpcId:
        Ref: VPC
{%- endif %}

Outputs:
  VPC:
    Description: VPC ID for VPC
    Value:
      Ref: VPC
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-VPC"

  VPCCidrBlock:
    Description: CidrBlock for VPC
    Value:
      Fn::GetAtt:
        - VPC
        - CidrBlock
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-VPC-CidrBlock"

{%- if sceptre_user_data.vpc.assign_ipv6 %}
  VPCCidrBlockIPV6:
    Description: IPV6 CidrBlock for VPC
    Value:
      Fn::Select:
        - 0
        - Fn::GetAtt:
            - VPC
            - Ipv6CidrBlocks
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-VPC-CidrBlockIPV6"
{%- endif %}
